*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-fundo: #121212;
    --cor-card: rgb(61, 61, 61);
    --cor-destaque-fonte: rgb(0, 160, 125);

    --fonte-principal:"Outfit", sans-serif;;
}

html{
    height: auto;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    gap: 20px;
    height: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.04;
    pointer-events: none; 
    z-index: 9999;
}

header{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 10px;
}

nav{
    display: flex;
    gap: 40px;
    background-color: var(--cor-card);
    padding: 15px;
    border-radius: 10px;
}

nav button{
    border: none;
    background-color: var(--cor-card);
    padding: 5px;
    border-radius: 10px;
    color: white;
    cursor: pointer;

    transition: all 0.3s ease;
}

nav button:hover{
    background-color: var(--cor-destaque-fonte);
    transform: translateY(-3px);
}

.botao-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.legenda {
    visibility: hidden;
    opacity: 0;
    background-color: var(--cor-destaque-fonte);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid var(--cor-borda);
    font-size: 12px;

    
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
}

.botao-container:hover .legenda {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(5px); /* Efeito de descida suave */
}

main{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
    padding: 20px;
    
    flex: 1 0 auto;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0);
    }
}

#card{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: sticky;
    top: 40px;
    align-self: flex-start;
    
    height: 80vh;
    text-align: center;
    background-color: var(--cor-card);
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 1.3em;

    animation: flutuar 8s ease-in-out infinite;
}

#card > h2{
    color: var(--cor-destaque-fonte);
}

#card img{
    border: 4px solid var(--cor-destaque-fonte);
    margin-top: 20px;
    border-radius: 50px;
}

.social-links{
    margin-top: auto;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.social-links > button{
    border: none;
    background-color: var(--cor-card);
    padding: 5px;
    border-radius: 10px;
    color: white;
    cursor: pointer;

    transition: all 0.3s ease;
}

.social-links > button:hover{
    background-color: var(--cor-destaque-fonte);
    transform: translateY(-3px);
}

#conteudo-dinamico{
    grid-column: 2;
    display: block;
    position: relative;
    color: white;
    background-color: var(--cor-fundo);
    border-radius: 10px;
}

@keyframes aparecer{
    from{opacity: 0; transform: translateX(20px);}
    to{opacity: 1;transform: translateX(0);}
}

#conteudo-dinamico div{
    animation: aparecer 0.5s ease;
}

#sobre-mim{
    padding: 20px;
}

#sobre-mim > h1{
    font-size: 3.5em;
    color: var(--cor-destaque-fonte);
}

#sobre-mim > p{
    margin-top: 20px;
    font-size: 2em;
    text-align: justify;
    text-indent: 30px;
}

#formacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#formacao > h1{
    font-size: 3.5em;
    color: var(--cor-destaque-fonte);
}

#formacao > h2{
    margin-top: 10px;
    font-size: 2.5em;
}

.stacks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

.stacks i{
    flex-direction: row;
    background-color: var(--cor-card);
    width: 300px;
    border-radius: 10px;
    border: 2px solid var(--cor-destaque-fonte);
    padding: 10px;
    font-size: 4em;
    transition: transform 0.3s ease;
}

.stacks > i > span{
    font-size: 0.5em;
    padding-left: 20px;
    font-family: var(--fonte-principal);
}

.stacks i:hover{
    transform: scale(1.1) rotate(0.8deg);
}

#formacao > ul{
    background-color: var(--cor-card);
    padding: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid var(--cor-destaque-fonte);
    font-size: 1.5em;
}

#contato{
    background-color: var(--cor-card);
    border-radius: 10px;
    padding: 20px;
}

#contato > h1{
    font-size: 3.5em;
    color: var(--cor-destaque-fonte);
}

.campo{
    display: flex;
    flex-direction: column;
}

.campo > label{
    font-size: 1.2em;
    padding: 10px 0px 10px 0px;
}

.campo > input{
    width: 100%;
    height: 40px;
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-family: var(--fonte-principal);
}

.campo > input:focus-within{
    outline: 1px solid var(--cor-destaque-fonte);
}

.campo > input::placeholder{
    color: white;
}

.campo > textarea{
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: rgb(90, 90, 90);
    padding: 10px 0px 0px 10px;
    font-family: var(--fonte-principal);
}

.campo > textarea:focus-within{
    outline: 1px solid var(--cor-destaque-fonte);
}

.campo > textarea::placeholder{
    color: white;
}

.campo > button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-destaque-fonte);
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: var(--fonte-principal);
    color: white;

    transition: all 0.3s ease;
}

.campo > button:hover{
    background-color: rgb(0, 117, 92);
    transform: scale(1.03);
}

.secao-oculta{
    display: none !important;
}